/* Variables */
:root[data-theme="light"] {

    --submit: black;
    --submit-color: white;
}

:root[data-theme="dark"] {

    --submit: white;
    --submit-color: black;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}


/* left */

.left-side {
    border-right: 4px solid var(--border-color);
    align-items: center;
    display: block;
}

.trvl-img img {
    display: flex;
    margin: 0 auto;
}

.left-side h2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 400;
    text-shadow: 2px 1px grey;
}

/* right */

.rights-side {
    display: flex;
    flex-direction: column;
    border-left: 4px solid var(--border-color);
    margin-left: 0px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form */

#form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

input[type=text], select, textarea {
    width: 600px;
    padding: 12px;
    box-shadow: 1px 1px gray;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    vertical-align: top;
}
  
  button[type=submit] {
    background-color: var(--submit);
    color: var(--submit-color);
    width: 600px;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

  #post-content {
    height: 100px;
}


/* Media query */

@media screen and (max-width: 1025px) {
    main {
        display: flex;
        flex-direction: column;
    }  
    .left-side {
        border-right: none;
    }
    .right-side {
        border-left: none;
    }
}

@media screen and (max-width: 500px) {
    .trvl-img {
        height: 300px;
        width: 300px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    #form {
        max-width: 400px;
        margin: 0 auto;
        text-align: left;
    }

    input[type=text], select, textarea {
        width: 100%;
    }

    button[type=submit] {
        width: 100%; 
    
    }

    #post-content {
        height: 100px;
    }

}