/* Variables */

:root[data-theme="light"] {

    --background: white;
    --color: black;

    --border-color: black;

    --icon-sun: #997F44;
    --icon-moon: #B1B0B5;
}

:root[data-theme="dark"] {

    --background: black;
    --color: white;

    --border-color: white;

    --switch-bg: #2D2C35;
    --icon-sun: #B1B0B5;
    --icon-moon: #DCE3FF;
}

:root {
    --default-transition: color .3s ease-in-out, 
    background-color .3s ease-in-out, border-color .3s ease-in-out, 
    fill .3s ease-in-out, transform .3s ease-in-out;
}

* {
    background-color: var(--background);
    font-family:"Roboto", sans-serif;
    color: var(--color);
}

/* header */
header .h-logo{
    padding-right: rem;
    float: left;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 25px;
    position: relative;
}

header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12px;
    background: 
        linear-gradient(to right, var(--border-color), var(--border-color)),
        linear-gradient(to right, var(--border-color), var(--border-color));
    background-size: 4px 4px, 4px 4px;
    background-position: bottom, top;
    background-repeat: repeat-x;
}

/* toggle */

.theme-switcher {
    background-color: var(--switch-bg);
    width: 75px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding: 4px;
    position: relative;
    margin-right: 20px;
    transform: var(--default-transition);
}

.theme-switcher::before {
    content:'';
    position: absolute;
    width: 2.22rem;
    height: 2.22rem;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    z-index: 0;
    left: 0;
    transform: translateX(var(--switch-circle-pos));
    transition: var(--default-transition)
}

.icon-sun {
    fill: var(--icon-sun);
    margin-top: 5px;
    margin-left: 6px;
}

.icon-moon {
    fill: var(--icon-moon)
}

.trvl-img img {
    height: 400px;
    width: 400px;
    border-radius: 30%;
}